html,
body {
  height: 100%;
}

body {
	background-image: url(/~cs349s12/images/layout/background.png);
	background-repeat: repeat;
	background-color: #F3E3E2;
}

a:link {
	color: #F3E3E2;
	text-decoration: none;
}
a:visited {
	color: #F3E3E2;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
button {
	font-family: 'Merriweather', serif;
	font-size: 11pt;
}
header {
	height: 100px;
	font-size: 32px;
	background-image: url(/~cs349s12/images/layout/header-footer.png);
	background-repeat: repeat;
	background-color: #0C0C1E;
}
footer {
	display: flex;
	flex: 0 0 auto;
	height: 14.5%;
	width: 100%;
	background-image: url(/~cs349s12/images/layout/header-footer.png);
	background-repeat: repeat;
	background-color: #0C0C1E;
}

.buttons-body {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.buttons-header {
	font-family: 'Merriweather', serif;
	height: 60px;
	margin-left: 16%;
	display: flex;
	flex-direction: row;
	column-gap: 250px;
	justify-content: flex-start;
	align-items: center;
}
.content {
	margin-bottom: 2%;
}
.dropbtn {
	font-family: 'Lobster Two', cursive;
	font-size: 32pt;
	color: #F3E3E2;
	background-color: #74112F;
	height: 70px;
	padding: 0px 30px;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F3E3E2;
	width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: #74112F;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #74112F;
	color: #F3E3E2;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover {
	background-color: #F3E3E2;
	color: #74112F;
	border-radius: 12px;
}

#blurb {
	color: #F3E3E2;
	margin-left: 25px;
	margin-top: 5px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	font-size: 13pt;
	position: absolute;
}
#button-body {
	font-family: 'Lobster Two', cursive;
	border: none;
  	color: #F3E3E2;
	background-color: #74112F;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
}
#button-header {
	font-family: 'Lobster Two', cursive;
	border: none;
	height: 70px;
	color: #F3E3E2;
	background-color: #74112F;
	padding: 0px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 32pt;
	border-radius: 8px;
	cursor: pointer;
}
#copyright {
	color: #F3E3E2;
	margin-left: 25px;
	margin-top: 90px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	font-size: 10pt;
	position: absolute;
}
#logo {
	display: inline; 
	position: relative;
	padding-left: 10px;
}
#navigation {
	position: absolute;
	width: 100%;
	margin-top: 19px;
}
#thumbnail {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 10px;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
	margin-left: 19%;
}