html,
body {
	height: 100%;
}

body {
	background-image: url(/~cs349s12/images/layout/background.png);
	background-repeat: repeat;
	background-color: #F3E3E2;
}

a img {
	border: none;
	padding-right: 10px;
}
a:link {
	color: #F3E3E2;
	text-decoration: none;
}
a:visited {
	color: #F3E3E2;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
button, input, label, textarea {
	font-family: 'Merriweather', serif;
	font-size: 11pt;
}
header {
	display: flex;
	flex: 1 0 auto;
	height: 100px;
	font-size: 32pt;
	background-image: url(/~cs349s12/images/layout/header-footer.png);
	background-repeat: repeat;
	background-color: #0C0C1E;
}
footer {
	display: flex;
	flex: 0 0 auto;
	height: 14.5%;
	width: 100%;
	background-image: url(/~cs349s12/images/layout/header-footer.png);
	background-repeat: repeat;
	background-color: #0C0C1E;
}

.buttons-header {
	font-family: 'Merriweather', serif;
	height: 60px;
	margin-left: 16%;
	display: flex;
	flex-direction: row;
	column-gap: 250px;
	justify-content: flex-start;
	align-items: center;
}
.comment-section {
	flex: 1;
	font-family: 'Merriweather', serif;
}
.comment-section p {
	width: 100%;
}
.content {
	display: flex;
	width: 85%;
	column-gap: 5%;
	margin-left: 15%;
	margin-top: 2%;
}
.dropbtn {
	font-family: 'Lobster Two', cursive;
	font-size: 32pt;
	color: #F3E3E2;
	background-color: #74112F;
	height: 70px;
	padding: 0px 30px;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F3E3E2;
	width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: #74112F;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #74112F;
	color: #F3E3E2;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover {
	background-color: #F3E3E2;
	color: #74112F;
	border-radius: 12px;
}
.form-control {
	font-size: 11pt;
}
.modal {
	height: 6%;
}
.modal a {
	color: #0C0C1E;
}
.panel-body {
	width: 100%;
}
.panel panel-primary {
	flex: 1;
}

#addModal {
	color: #0C0C1E;
}
#blurb {
	color: #F3E3E2;
	margin-left: 25px;
	margin-top: 19px;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 11pt;
	position: absolute;
}
#button-header {
	font-family: 'Lobster Two', cursive;
	border: none;
	height: 70px;
	color: #F3E3E2;
	background-color: #74112F;
	padding: 0px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 32pt;
	border-radius: 8px;
	cursor: pointer;
}
#copyright {
	color: #F3E3E2;
	margin-left: 25px;
	margin-top: 101px;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 10pt;
	position: absolute;
}
#logo {
	display: inline; 
	position: relative;
	padding-left: 10px;
}
#navigation {
	position: absolute;
	width: 100%;
	margin-top: 19px;
}